<!-- 子菜单 -->
<div class="sub-menu">
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('history')>-1}"
       ng-click="changeLocation('history')"><a href="javascript:;"><i class="icon icon-history"></i><i class="icon-title">历史记录</i></a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('create')>-1}"
       ng-click="changeLocation('create')"><a href="javascript:;"><i class="icon icon-create"></i><i class="icon-title">生成报表</i></a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('analyse')>-1}"
       ng-click="changeLocation('analyse')"><a href="javascript:;"><i class="icon icon-analyse"></i><i class="icon-title">报表分析</i></a></p>
</div>
