<!-- 子菜单 -->
<div class="sub-menu">
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('user')>-1}"><a href="#/setting/user"><i class="icon icon-user"></i><i class="icon-title">用户管理</i></a>
    </p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('authority')>-1}"><a href="#/setting/authority"><i class="icon icon-authority"></i><i class="icon-title">权限管理</i></a>
    </p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('company')>-1}"><a
        href="#/setting/company"><i class="icon icon-company"></i><i class="icon-title">公司管理</i></a></p>
</div>
