<!-- 子菜单 -->
<div class="sub-menu">
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('inspection')>-1}"><a
        href="#/leaveFactory/inspection"><i class="icon icon-inspection"></i><i class="icon-title">砂浆出厂检验报告</i></a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('invoiceNum')>-1}"><a
        href="#/leaveFactory/invoiceNum"><i class="icon icon-invoiceNum"></i><i class="icon-title line-two">砂浆出厂情况报告（按发货单号）</i></a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('batchNum')>-1}"><a
        href="#/leaveFactory/batchNum"><i class="icon icon-batchNum"></i><i class="icon-title line-two">砂浆出厂情况报告（按砂浆批号）</i></a></p>
</div>
