<!-- 子菜单 -->
<div class="sub-menu">
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('inspection')>-1}"><a
        href="#/leaveFactory/inspection">砂浆出厂检验</a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('invoiceNum')>-1}"><a
        href="#/leaveFactory/invoiceNum">砂浆出厂情况（按发货单号）</a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('batchNum')>-1}"><a
        href="#/leaveFactory/batchNum">砂浆出厂情况（按砂浆批号）</a></p>
</div>
