<!-- 子菜单 -->
<div class="sub-menu">
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('material')>-1}"><a href="#/workNotice/material">砂浆原料进厂通知单</a>
    </p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('mixSingle')>-1}"><a
        href="#/workNotice/mixSingle">砂浆配合比通知单（单一型）</a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('mixTotal')>-1}"><a href="#/workNotice/mixTotal">砂浆配合比通知单（汇总型）</a>
    </p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('sendOut')>-1}"><a href="#/workNotice/sendOut">砂浆发货通知单</a>
    </p>
</div>
