<!-- 子菜单 -->
<div class="sub-menu">
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('material')>-1}"><a href="#/workNotice/material"><i class="icon icon-material"></i><i class="icon-title">砂浆原料进厂通知单</i></a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('mixSingle')>-1}"><a
        href="#/workNotice/mixSingle"><i class="icon icon-mixSingle"></i><i class="icon-title line-two">砂浆配合比通知单（单一型）</i></a></p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('mixTotal')>-1}"><a href="#/workNotice/mixTotal"><i class="icon icon-mixTotal"></i><i class="icon-title line-two">砂浆配合比通知单（汇总型）</i></a>
    </p>
    <p class="sub-menu-item" ng-class="{'current-item':pathStr.indexOf('sendOut')>-1}"><a href="#/workNotice/sendOut"><i class="icon icon-sendOut"></i><i class="icon-title">砂浆发货通知单</i></a></p>
</div>
