/**
 *    子菜单样式
 *    Create by Jackie Xie
 *    2017-01-01
 */
.sub-menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    width: inherit;
    border-bottom: 1px solid #505050;
    background-color: #444;
    overflow-x: hidden;
    overflow-y: auto;
}

.sub-menu-item {
    line-height: 1;
    text-align: left;
    border-top: 1px solid #505050;
    border-bottom: 1px solid #393939;
    margin: 0;
    background-color: #444;
}

.sub-menu-item:focus,
.sub-menu-item:hover,
.sub-menu-item:active,
.current-item {
    cursor: pointer;
    background-color: #2a2a2a;

}

.sub-menu-item a {
    display: inline-block;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    color: #a2a2a2;
}

.sub-menu-item a:focus,
.sub-menu-item a:hover,
.sub-menu-item:focus a,
.sub-menu-item:hover a {
    color: #fff;
    text-decoration: none;
}

.sub-menu-item a:focus,
.sub-menu-item a:hover,
.sub-menu-item a:active {
    outline: none;
}

.current-item a {
    color: #fff;
}

.icon {
    display: inline-block;
    float: left;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-right: 15px;
}

.icon-title{
    display: inline-block;
    float: left;
    width: 128px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    font-style: normal;
}

.line-two{
    line-height: 18px;
}

.icon-history {
    background: url(../../../images/icons/icon-history.png) no-repeat center center;
}

.sub-menu-item:focus .icon-history,
.sub-menu-item:hover .icon-history,
.sub-menu-item:active .icon-history,
.current-item .icon-history {
    background: url(../../../images/icons/icon-history-active.png) no-repeat center center;
}

.icon-create {
    background: url(../../../images/icons/icon-create.png) no-repeat center center;
}

.sub-menu-item:focus .icon-create,
.sub-menu-item:hover .icon-create,
.sub-menu-item:active .icon-create,
.current-item .icon-create {
    background: url(../../../images/icons/icon-create-active.png) no-repeat center center;
}

.icon-analyse {
    background: url(../../../images/icons/icon-analyse.png) no-repeat center center;
}

.sub-menu-item:focus .icon-analyse,
.sub-menu-item:hover .icon-analyse,
.sub-menu-item:active .icon-analyse,
.current-item .icon-analyse {
    background: url(../../../images/icons/icon-analyse-active.png) no-repeat center center;
}

.icon-input {
    background: url(../../../images/icons/icon-input.png) no-repeat center center;
}

.sub-menu-item:focus .icon-input,
.sub-menu-item:hover .icon-input,
.sub-menu-item:active .icon-input,
.current-item .icon-input {
    background: url(../../../images/icons/icon-input-active.png) no-repeat center center;
}

.icon-mixture {
    background: url(../../../images/icons/icon-mixture.png) no-repeat center center;
}

.sub-menu-item:focus .icon-mixture,
.sub-menu-item:hover .icon-mixture,
.sub-menu-item:active .icon-mixture,
.current-item .icon-mixture {
    background: url(../../../images/icons/icon-mixture-active.png) no-repeat center center;
}

.icon-reserved {
    background: url(../../../images/icons/icon-reserved.png) no-repeat center center;
}

.sub-menu-item:focus .icon-reserved,
.sub-menu-item:hover .icon-reserved,
.sub-menu-item:active .icon-reserved,
.current-item .icon-reserved {
    background: url(../../../images/icons/icon-reserved-active.png) no-repeat center center;
}

.icon-mixSingle {
    background: url(../../../images/icons/icon-mixSingle.png) no-repeat center center;
}

.sub-menu-item:focus .icon-mixSingle,
.sub-menu-item:hover .icon-mixSingle,
.sub-menu-item:active .icon-mixSingle,
.current-item .icon-mixSingle {
    background: url(../../../images/icons/icon-mixSingle-active.png) no-repeat center center;
}

.icon-mixTotal {
    background: url(../../../images/icons/icon-mixTotal.png) no-repeat center center;
}

.sub-menu-item:focus .icon-mixTotal,
.sub-menu-item:hover .icon-mixTotal,
.sub-menu-item:active .icon-mixTotal,
.current-item .icon-mixTotal {
    background: url(../../../images/icons/icon-mixTotal-active.png) no-repeat center center;
}

.icon-sendOut {
    background: url(../../../images/icons/icon-sendOut.png) no-repeat center center;
}

.sub-menu-item:focus .icon-sendOut,
.sub-menu-item:hover .icon-sendOut,
.sub-menu-item:active .icon-sendOut,
.current-item .icon-sendOut {
    background: url(../../../images/icons/icon-sendOut-active.png) no-repeat center center;
}

.icon-material {
    background: url(../../../images/icons/icon-material.png) no-repeat center center;
}

.sub-menu-item:focus .icon-material,
.sub-menu-item:hover .icon-material,
.sub-menu-item:active .icon-material,
.current-item .icon-material {
    background: url(../../../images/icons/icon-material-active.png) no-repeat center center;
}

.icon-inspection {
    background: url(../../../images/icons/icon-inspection.png) no-repeat center center;
}

.sub-menu-item:focus .icon-inspection,
.sub-menu-item:hover .icon-inspection,
.sub-menu-item:active .icon-inspection,
.current-item .icon-inspection {
    background: url(../../../images/icons/icon-inspection-active.png) no-repeat center center;
}

.icon-invoiceNum {
    background: url(../../../images/icons/icon-invoiceNum.png) no-repeat center center;
}

.sub-menu-item:focus .icon-invoiceNum,
.sub-menu-item:hover .icon-invoiceNum,
.sub-menu-item:active .icon-invoiceNum,
.current-item .icon-invoiceNum {
    background: url(../../../images/icons/icon-invoiceNum-active.png) no-repeat center center;
}

.icon-batchNum {
    background: url(../../../images/icons/icon-batchNum.png) no-repeat center center;
}

.sub-menu-item:focus .icon-batchNum,
.sub-menu-item:hover .icon-batchNum,
.sub-menu-item:active .icon-batchNum,
.current-item .icon-batchNum {
    background: url(../../../images/icons/icon-batchNum-active.png) no-repeat center center;
}

.icon-user {
    background: url(../../../images/icons/icon-user.png) no-repeat center center;
}

.sub-menu-item:focus .icon-user,
.sub-menu-item:hover .icon-user,
.sub-menu-item:active .icon-user,
.current-item .icon-user {
    background: url(../../../images/icons/icon-user-active.png) no-repeat center center;
}

.icon-authority {
    background: url(../../../images/icons/icon-authority.png) no-repeat center center;
}

.sub-menu-item:focus .icon-authority,
.sub-menu-item:hover .icon-authority,
.sub-menu-item:active .icon-authority,
.current-item .icon-authority {
    background: url(../../../images/icons/icon-authority-active.png) no-repeat center center;
}

.icon-company {
    background: url(../../../images/icons/icon-company.png) no-repeat center center;
}

.sub-menu-item:focus .icon-company,
.sub-menu-item:hover .icon-company,
.sub-menu-item:active .icon-company,
.current-item .icon-company {
    background: url(../../../images/icons/icon-company-active.png) no-repeat center center;
}
