/**
 *    表格样式
 *    Create by Jackie Xie
 *    2016-11-11
 */
.search-result {
    font-size: 12px;
    color: #666;
}

.search-result-num {
    color: #26a9ea;
}

.table-responsive {
    padding: 5px;
    padding-bottom: 0;
}

.table-custom > tbody > tr > td,
.table-custom > tbody > tr > th,
.table-custom > tfoot > tr > td,
.table-custom > tfoot > tr > th,
.table-custom > thead > tr > td,
.table-custom > thead > tr > th {
    vertical-align: middle;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    color: #666;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-custom > tbody > tr > td.limit60,
.table-custom > tbody > tr > th.limit60,
.table-custom > tfoot > tr > td.limit60,
.table-custom > tfoot > tr > th.limit60,
.table-custom > thead > tr > td.limit60,
.table-custom > thead > tr > th.limit60 {
    max-width: 60px;
}
.table-custom > tbody > tr > td.limit100,
.table-custom > tbody > tr > th.limit100,
.table-custom > tfoot > tr > td.limit100,
.table-custom > tfoot > tr > th.limit100,
.table-custom > thead > tr > td.limit100,
.table-custom > thead > tr > th.limit100 {
    max-width: 100px;
}
.table-custom > tbody > tr > td.limit120,
.table-custom > tbody > tr > th.limit120,
.table-custom > tfoot > tr > td.limit120,
.table-custom > tfoot > tr > th.limit120,
.table-custom > thead > tr > td.limit120,
.table-custom > thead > tr > th.limit120 {
    max-width: 120px;
}
/*对分辨率大于1400px的适应*/
@media (min-width: 1400px){
    
    .table-custom > tbody > tr > td.limit60,
    .table-custom > tbody > tr > th.limit60,
    .table-custom > tfoot > tr > td.limit60,
    .table-custom > tfoot > tr > th.limit60,
    .table-custom > thead > tr > td.limit60,
    .table-custom > thead > tr > th.limit60,
    .table-custom > tbody > tr > td.limit100,
    .table-custom > tbody > tr > th.limit100,
    .table-custom > tfoot > tr > td.limit100,
    .table-custom > tfoot > tr > th.limit100,
    .table-custom > thead > tr > td.limit100,
    .table-custom > thead > tr > th.limit100,
    .table-custom > tbody > tr > td.limit120,
    .table-custom > tbody > tr > th.limit120,
    .table-custom > tfoot > tr > td.limit120,
    .table-custom > tfoot > tr > th.limit120,
    .table-custom > thead > tr > td.limit120,
    .table-custom > thead > tr > th.limit120,
    .table-custom > tbody > tr > td,
    .table-custom > tbody > tr > th,
    .table-custom > tfoot > tr > td,
    .table-custom > tfoot > tr > th,
    .table-custom > thead > tr > td,
    .table-custom > thead > tr > th {
        max-width: 120px;
    }

}

.table-custom > thead > tr > td,
.table-custom > thead > tr > th {
    background-color: #f5f5f5;
    font-size: 13px;
    font-weight: normal;
    color: #333;
    border-color: #ccc;
}

.table-custom a.btn.btn-link {
    padding: 2px 8px;
    font-size: 12px;
    color: #26a9ea;
}

.table-custom a.btn.btn-link:focus,
.table-custom a.btn.btn-link:hover {
    color: #61c9f2;
}

.table-custom > tbody > tr > .col-index,
.table-custom > tbody > tr > .col-index,
.table-custom > tfoot > tr > .col-index,
.table-custom > tfoot > tr > .col-index,
.table-custom > thead > tr > .col-index,
.table-custom > thead > tr > .col-index {
    width: 40px;
}

.table-custom > tbody > tr > .tl,
.table-custom > tbody > tr > .tl,
.table-custom > tfoot > tr > .tl,
.table-custom > tfoot > tr > .tl,
.table-custom > thead > tr > .tl,
.table-custom > thead > tr > .tl {
    text-align: left;
}

.table-custom > tbody > tr > .col-operate,
.table-custom > tbody > tr > .col-operate,
.table-custom > tfoot > tr > .col-operate,
.table-custom > tfoot > tr > .col-operate,
.table-custom > thead > tr > .col-operate,
.table-custom > thead > tr > .col-operate {
    width: 200px;
    max-width: 200px;
}
